.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-nav>li:hover .dropdown-menu {
    display: block;
}

.navbar {
    font-family: Consolas;
    background-color: #0E8EA8;
    font-size: x-large;
}

#dropdown1,
#dropdown2 {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.dropdown-menu {
    background-color: #83D1E1;
    color: #212529;
}
thead {
    background-color: #0E8EA8;
    font-family: Consolas;
    color: #fff
}
.table {
    border: #212529;
    border-radius: 10px;
    border-width: 1px;
    width: 75%;
    margin-bottom: 2px;
}
h1 {
    font-family: Calibri;
    color: #212529;
} 
h2 {
    font-family: Calibri;
    color: #212529
}
tbody {
    font-family: Calibri;
    background-color: #83D1E1;
    color: #212529;
}

#button1 {
    margin-left: 170px;
}
#button2 {
    margin-right: 48px;
}
#button3 {
    margin-right: 15px;
}
#button4 {
    margin-right: 15px;
}
body {
    height: 95vh;
}
body {
    font-family: Arial, Helvetica, sans-serif
}
input {
    border: none;
    font-family: Calibri;
    background-color: transparent;
    color: #212529;
    border-bottom: 1px solid black;
}


#table1 tbody tr:hover {
    background-color: #48aac2;
}

#table2 tbody tr:hover {
    background-color: #48aac2;
}

#table2 tbody tr.selected{
    background-color: #3e9fb3;
}
#table1 tbody tr.selected {
    background-color: #3e9fb3;
}

td {
    text-align: center;
    vertical-align: middle;
}
td i{
    font-size: x-large;
}
#toastContainer {
    /* display: block !important; */
    position: fixed;
    top: 0;
    right: 0;

}

.toast {
    position: relative;
}

.toast-header {
    display: flex;
    justify-content: space-between;
}

.toast-header strong {
    order: 2;
}

.toast-header small {
    order: 3;
}

#toastId2 .toast-header img {
    max-width: 100%;
    max-height: 100%;
    margin-right: 0.5rem;
}


.toast-header .close {
    order: 4;
}

.toast-body {
    text-align: left;
}

#toastbtn {
    display: flex;
    justify-content: flex-end;
}
::placeholder {
    color:#212529;
    font-family: Calibri;
    opacity: 0.5;
}

