.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-nav>li:hover .dropdown-menu {
    display: block;
}

.navbar {
    font-family: Consolas;
    background-color: #0E8EA8;
    font-size: x-large;
}

#dropdown1,
#dropdown2 {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.dropdown-menu {
    background-color: #83D1E1;
    color: #212529;
}
thead {
    background-color: #0E8EA8;
    font-family: Consolas;
    color: #fff
}
.table {
    border: #212529;
    border-radius: 10px;
    border-width: 1px;
    width: 75%;
    margin-bottom: 2px;
}
h1 {
    font-family: Calibri;
    color: #212529;
} 
h2 {
    font-family: Calibri;
    color: #212529
}
tbody {
    font-family: Calibri;
    background-color: #83D1E1;
    color: #212529;
}

#button1 {
    margin-left: 170px;
}
#button2 {
    margin-right: 48px;
}
#button3 {
    margin-right: 15px;
}
#button4 {
    margin-right: 15px;
}
body {
    height: 95vh;
}
body {
    font-family: Arial, Helvetica, sans-serif
}
input {
    border: none;
    font-family: Calibri;
    background-color: transparent;
    color: #212529;
}

#driverBody tbody tr:hover {
    background-color: #48aac2;
}

#driverBody tbody tr.selected {
    background-color: #3e9fb3;
}